<br /><br />
<p align="center">
    <a href="<{$xoops_url}>/modules/TDMDownloads/index.php"><img src="<{$xoops_url}>/modules/TDMDownloads/images/logo-en.gif" alt="" border="0" /></a>
</p>
<b><{$category_path}></b>
<br /><br />
<div style="border-bottom: 1px #333 solid;"></div>

<table border='0' cellspacing='5' cellpadding='0' align="center">
    <tr>
        <!-- Start category loop -->
        <{foreach item=subcat from=$subcategories}>
        <td valign="top" width="150" >
            <{if $subcat.image != ""}>
            <a href="<{$xoops_url}>/modules/TDMDownloads/viewcat.php?cid=<{$subcat.id}>"><img src="<{$subcat.image}>" border="0" alt="" /></a>
            <{/if}>
        </td>
        <td valign="top">
            <a href="<{$xoops_url}>/modules/TDMDownloads/viewcat.php?cid=<{$subcat.id}>"><b><{$subcat.title}></b></a>&nbsp;(<{$subcat.totaldownloads}>)
            <br /><{$subcat.description_main}><{if $subcat.infercategories != ""}><br /><br />
            <b><{$smarty.const._MD_TDMDOWNLOADS_INDEX_SCAT}></b><br /><ul><{$subcat.infercategories}></ul><{/if}>
        </td>
    <{if $subcat.count is div by 3}>
    </tr>
    <tr>
    <{/if}>
        <{/foreach}>
        <!-- End category loop -->
    </tr>
</table>
<{if $bl_affichage==1}>
<div style="font-size: 1.6em; margin: 15px 0 10px 0; border-bottom: 1px #333 solid;"><{$smarty.const._MD_TDMDOWNLOADS_INDEX_BLNAME}></div>
<table cellspacing="0" cellpadding="10" border="0">
    <tr>
  	<{if $bl_date != ""}>
    <td width="33%" align="right" valign="top">
    	<img src="<{$xoops_url}>/modules/TDMDownloads/images/icon/date.png" alt="" />&nbsp;<b><{$smarty.const._MD_TDMDOWNLOADS_INDEX_BLDATE}></b>
    	<ul>
            <{foreach item=bl_date from=$bl_date}>
            <li><a href="<{$xoops_url}>/modules/TDMDownloads/singlefile.php?cid=<{$bl_date.cid}>&amp;lid=<{$bl_date.id}>"><{$bl_date.title}></a> (<{$bl_date.date}>)</li>
            <{/foreach}>
      	</ul>
    </td>
    <{/if}>
    <{if $bl_pop != ""}>
    <td width="33%" align="right" valign="top">
    	<img src="<{$xoops_url}>/modules/TDMDownloads/images/icon/hits.png" alt="" />&nbsp;<b><{$smarty.const._MD_TDMDOWNLOADS_INDEX_BLPOP}></b>
    	<ul>
            <{foreach item=bl_pop from=$bl_pop}>
            <li><a href="<{$xoops_url}>/modules/TDMDownloads/singlefile.php?cid=<{$bl_pop.cid}>&amp;lid=<{$bl_pop.id}>"><{$bl_pop.title}></a> (<{$bl_pop.hits}>)</li>
            <{/foreach}>
      	</ul>
    </td>
    <{/if}>
    <{if $bl_rating != ""}>
    <td width="33%" align="right" valign="top">
    	<img src="<{$xoops_url}>/modules/TDMDownloads/images/icon/votes.png" alt="" />&nbsp;<b><{$smarty.const._MD_TDMDOWNLOADS_INDEX_BLRATING}></b>
    	<ul>
            <{foreach item=bl_rating from=$bl_rating}>
            <li><a href="<{$xoops_url}>/modules/TDMDownloads/singlefile.php?cid=<{$bl_rating.cid}>&amp;lid=<{$bl_rating.id}>"><{$bl_rating.title}></a> (<{$bl_rating.rating}>)</li>
            <{/foreach}>
      	</ul>
    </td>
    <{/if}>
    </tr>
</table>
<{/if}>
<{if $aff_summary}>
<div style="font-size: 1.6em; margin: 15px 0 10px 0; border-bottom: 1px #333 solid;"><{$smarty.const._MD_TDMDOWNLOADS_CAT_SUMMARY}></div>
<div style="margin: 0 0 0 20px;">
<table>
    <tr>
    <{foreach item=summary from=$summary}>
        <td><{$summary.title}></td>
    <{if $summary.count is div by 3}>
    </tr>
    <tr>
    <{/if}>
    <{/foreach}>
    </tr>
</table>
</div>
<{/if}>
<div style="font-size: 11px; text-align: right; font-style: italic; padding: 0 20px 0 0;"><{$lang_thereare}></div>
<{if $navigation == true}>
<div style="margin: 15px 0 10px 0;" align="center">
    <{$smarty.const._MD_TDMDOWNLOADS_CAT_SORTBY}>&nbsp;&nbsp;<{$smarty.const._MD_TDMDOWNLOADS_CAT_TITLE}> (
    <a href="<{$xoops_url}>/modules/TDMDownloads/viewcat.php?cid=<{$category_id}>&amp;sort=title&amp;order=ASC">
    <img src="<{$xoops_url}>/modules/TDMDownloads/images/up.gif" align="middle" alt="<{$smarty.const._MD_TDMDOWNLOADS_CAT_TITLEATOZ}>" title="<{$smarty.const._MD_TDMDOWNLOADS_CAT_TITLEATOZ}>"/>
    </a>
    <a href="<{$xoops_url}>/modules/TDMDownloads/viewcat.php?cid=<{$category_id}>&amp;sort=title&amp;order=DESC">
    <img src="<{$xoops_url}>/modules/TDMDownloads/images/down.gif" align="middle"  alt="<{$smarty.const._MD_TDMDOWNLOADS_CAT_TITLEZTOA}>" title="<{$smarty.const._MD_TDMDOWNLOADS_CAT_TITLEZTOA}>"/>
    </a>)&nbsp;<{$smarty.const._MD_TDMDOWNLOADS_CAT_DATE}>(
    <a href="<{$xoops_url}>/modules/TDMDownloads/viewcat.php?cid=<{$category_id}>&amp;sort=date&amp;order=ASC">
    <img src="<{$xoops_url}>/modules/TDMDownloads/images/up.gif" align="middle" alt="<{$smarty.const._MD_TDMDOWNLOADS_CAT_DATEOLD}>" title="<{$smarty.const._MD_TDMDOWNLOADS_CAT_DATEOLD}>" />
    </a>
    <a href="<{$xoops_url}>/modules/TDMDownloads/viewcat.php?cid=<{$category_id}>&amp;sort=date&amp;order=DESC">
    <img src="<{$xoops_url}>/modules/TDMDownloads/images/down.gif" align="middle" alt="<{$smarty.const._MD_TDMDOWNLOADS_CAT_DATENEW}>" title="<{$smarty.const._MD_TDMDOWNLOADS_CAT_DATENEW}>" />
    </a>)&nbsp;<{$smarty.const._MD_TDMDOWNLOADS_CAT_RATING}>(
    <a href="<{$xoops_url}>/modules/TDMDownloads/viewcat.php?cid=<{$category_id}>&amp;sort=rating&amp;order=ASC">
    <img src="<{$xoops_url}>/modules/TDMDownloads/images/up.gif" align="middle" alt="<{$smarty.const._MD_TDMDOWNLOADS_CAT_RATINGLTOH}>" title="<{$smarty.const._MD_TDMDOWNLOADS_CAT_RATINGLTOH}>" />
    </a>
    <a href="<{$xoops_url}>/modules/TDMDownloads/viewcat.php?cid=<{$category_id}>&amp;sort=rating&amp;order=DESC">
    <img src="<{$xoops_url}>/modules/TDMDownloads/images/down.gif" align="middle" alt="<{$smarty.const._MD_TDMDOWNLOADS_CAT_RATINGHTOL}>" title="<{$smarty.const._MD_TDMDOWNLOADS_CAT_RATINGHTOL}>" />
    </a>)&nbsp;<{$smarty.const._MD_TDMDOWNLOADS_CAT_POPULARITY}>(
    <a href="<{$xoops_url}>/modules/TDMDownloads/viewcat.php?cid=<{$category_id}>&amp;sort=hits&amp;order=ASC">
    <img src="<{$xoops_url}>/modules/TDMDownloads/images/up.gif" align="middle" alt="<{$smarty.const._MD_TDMDOWNLOADS_CAT_POPULARITYLTOM}>" title="<{$smarty.const._MD_TDMDOWNLOADS_CAT_POPULARITYLTOM}>" />
    </a>
    <a href="<{$xoops_url}>/modules/TDMDownloads/viewcat.php?cid=<{$category_id}>&amp;sort=hits&amp;order=DESC">
    <img src="<{$xoops_url}>/modules/TDMDownloads/images/down.gif" align="middle" alt="<{$smarty.const._MD_TDMDOWNLOADS_CAT_POPULARITYMTOL}>" title="<{$smarty.const._MD_TDMDOWNLOADS_CAT_POPULARITYMTOL}>" />
    </a>)<br />
	<b><{$affichage_tri}></b>
</div>
<{/if}>
<{if $file != ""}>
	<div style="font-size: 1.6em; margin: 15px 0 5px 0; border-bottom: 1px #333 solid;"><{$smarty.const._MD_TDMDOWNLOADS_CAT_LIST}></div>
	<table width="100%" cellspacing="0" cellpadding="10" border="0">
	<tr>
		<td width="100%" align="center" valign="top">
  			<!-- Start new link loop -->
            <{php}> $cpt = 0; <{/php}>
  			<{section name=i loop=$file}>
                <{php}> 
				$cpt++; 
				echo '<a name="l' . $cpt . '"></a>';
                <{/php}> 
    			<{include file="db:tdmdownloads_download.html" down=$file[i]}>
  			<{/section}>
  			<!-- End new link loop -->
		</td>
	</tr>
	</table>
	<{if $pagenav != ''}>
		<br />
		<div align="center"><{$pagenav}></div>
	<{/if}>	
<{/if}>
<{include file="db:system_notification_select.html"}>