<div class="xn_letter" style="width:100%">
  <div class="letter_header" style="background-image: url(<{$xoops_url}>/modules/xNewsletter/images/letter_template/nf_bg_red.png); background-repeat: repeat-x; height: 80px; width:100%">
    <table style="width:100%;border:0px;">
      <tr>
        <td style="width:120px;padding-left:30px;text-align:left">
          <img src="<{$xoops_url}>/modules/xNewsletter/images/letter_template/nf_logo_trans.png"height="80px" />
        </td>
        <td style="height:80px; font-family: Arial,Helvetica,sans-serif; text-align:center;color:#ffffff;font-size:20px; padding-top:30px;">
          Kletterfreaks Naturfreunde Hochburg-Ach
        </td>
        <td style="width:120px;padding-right:30px;text-align:right">
          <img src="<{$xoops_url}>/modules/xNewsletter/images/letter_template/kletterfreaks.png"height="75px" />
        </td>
      </tr>
    </table>
  </div>
  <div class="letter-body" style="width: 100%;font-family: Arial,Helvetica,sans-serif; font-size: 11px; margin-top: 30px;">
    Hallo <{$firstname}> <{$lastname}><br>
    <br>
    <{$content}>
    <br>
  </div>
  
  <div class="letter_footer" style="width: 100%; font-family: Arial,Helvetica,sans-serif; font-size: 11px; padding-top: 50px;">
  <div style="border-top:1px solid #c80000">&nbsp;</div>
  <p style="margin-top:10px;margin-bottom:20px;">Bitte antworten Sie nicht auf diesen Newsletter. Wenn Sie Kontakt mit einem unserer Teammitglieder aufnehmen wollen, finden Sie die E-Mail-Adressen auf unserer <a href="http://naturfreunde-hochburg-ach.at/modules/verein/index.php?content=1:1" target="_blank">Homepage</a></p>
  <p style="margin-top:10px;margin-bottom:20px;">Wenn Sie sich von diesem Newsletter abmelden wollen, dann klicken Sie bitte <a href="<{$unsubscribe_link}>" target="_blank">hier</a></p>
  </div>
</div>