/* $Id */
body {
	text-align: right;
	direction: rtl;
}

#wizard {
	text-align: right;
	direction: rtl;
}

#buttons {
	direction: ltr;
}

#pageslist {
	float: right;
	width: 220px;
}

.page {
	margin-right: 225px;
	margin-left: .1px !important;
}

h2 {
	text-align: right;
}

#help_button {
	float: left;
}

.x2-note.error {
	background-position: left 2px;
}

#pageslist li {
	padding-right: 15px;
	background: url(img/bullet.png) no-repeat right center;
    border-left: 1px solid #e4e4e4;
}

.directory,.files {
	padding-right: 20px;
}

.directory {
	background-position: right;
}

.files {
	background-position: right;
}

ul.diags {
	text-align: left;
	direction: ltr;
}

#passwordmetter {
	right: 70% !important;
}

.module td.yesno {
	width: 140px;
}

ul.diags li.failure,ul.log li.failure {
	background-position: right;
	text-align: right;
	padding-right: 20px;
	direction: rtl;
}