@import url(css/modules.css);

body {
	font-family: Tahoma;
}

table {
	direction: rtl;
	text-align: right;
}

table.toptable,table.maintable,table.footertable {
	direction: rtl;
}

table td {
	font-family: Tahoma;
}

body td,p,div {
	direction: rtl;
	font-family: Tahoma;
}

a:link,a:active,a:visited {
	direction: rtl;
	font-family: Tahoma;
}

a:hover {
	direction: rtl;
	font-family: Tahoma;
}

/* Titles ... */
h1 {
	direction: rtl;
	font-family: Tahoma;
}

h2 {
	direction: rtl;
	font-family: Tahoma;
}

h4 {
	direction: rtl;
	font-family: Tahoma;
}

ul {
	padding-left: 0;
	padding-right: 10px;
	text-align: right;
	font-family: Tahoma;
	direction: rtl;
	margin-left: 0;
	margin-right: 10px;
}

ol {
	padding-left: 0;
	padding-right: 10px;
	margin-left: 0;
	margin-right: 10px;
}

ul ul {
	margin-left: 0;
	margin-right: 10px;
}

ol ol {
	margin-left: 0;
	margin-right: 12px;
}

li {
	padding-left: 0;
	padding-right: 3px;
	margin-left: 0;
	margin-right: 4px;
}

input,select,textarea {
	direction: rtl;
	font-family: Tahoma;
	text-align: right;
}

.formButton {
	direction: rtl;
	text-align: right;
}

/* ========== styles used in the article of contents (exemple : news) ============*/
.item {
	font-family: Tahoma;
	direction: rtl;
}

.itemHead {
	direction: rtl;
	font-family: Tahoma;
}

.itemInfo {
	text-align: left;
	font-family: Tahoma;
	direction: rtl;
}

.itemTitle {
	direction: rtl;
	text-align: right;
	font-family: Tahoma;
}

.itemTitle a {
	direction: rtl;
}

.itemPoster {
	direction: rtl;
	font-family: Tahoma;
}

.itemPostDate {
	font-family: Tahoma;
	direction: rtl;
	text-align: left;
}

.itemStats {
	direction: rtl;
	text-align: right;
	font-family: Tahoma;
}

.itemBody {
	direction: rtl;
	font-family: Tahoma;
	text-align: Justify;
}

.itemText {
	font-family: Tahoma;
	direction: rtl;
	text-align: Justify;
}

.itemFoot {
	direction: rtl;
	text-align: left;
	font-family: Tahoma;
}

/*=============== styles for the tables =================*/
th {
	font-family: Tahoma;
	direction: rtl;
}

th a:link,th a:active,th a:visited {
	direction: rtl;
}

.outer {
	direction: rtl;
	text-align: right;
	font-family: Tahoma;
}

.head {
	direction: rtl;
	text-align: right;
	font-family: Tahoma;
}

.even {
	direction: rtl;
	font-family: Tahoma;
	text-align: right;
}

.odd {
	direction: rtl;
	font-family: Tahoma;
	text-align: right;
}

.foot {
	direction: rtl;
}

/* ===== core messages ===== */
div.errorMsg {
	
}

div.confirmMsg {
	font-family: Tahoma;
	direction: rtl;
	text-align: right;
}

div.resultMsg {
	
}

div.xoopsCode {
	font-family: Tahoma;
	direction: ltr;
}

div.xoopsQuote {
	font-family: Tahoma;
	direction: rtl;
	text-align: right;
}

/*=========== Styles utilisés pour les commentaires (et newbb/cbb également) ===========*/
.comTitle {
	direction: rtl;
	text-align: right;
}

.comText {
	direction: rtl;
	text-align: justify;
}

.comUserStat {
	font-family: Tahoma;
	direction: rtl;
}

.comUserName {
	direction: rtl;
	text-align: right;
}

.comDate {
	font-family: Tahoma;
}

.sCommentThread {
	text-align: right;
}

.sCommentRank {
	text-align: right;
}

p {
	font-family: tahoma;
}

/*=========== for admin menu ===========*/
.admin_menu {
	font-family: Tahoma;
}

.admin_menu a,.admin_menu_thumb a {
	font-family: Tahoma;
}

.admin_menu a:hover,.admin_menu_thumb a:hover,.alblink a:hover,.catlink a:hover,.user_thumb_infobox a:hover
	{
	
}

.admin_menu_thumb {
	font-family: Tahoma;
}

.button {
	font-family: tahoma;
}

.checkbox {
	font-family: tahoma;
}

.listbox {
	font-family: tahoma;
}

.navmenu {
	
}

.navmenu a {
	
}

.navmenu a:hover {
	
}

.sortorder_options {
	font-family: tahoma;
}

.statlink a {
	
}

.statlink a:hover {
	
}

.textinput {
	
}

.user_thumb_infobox a {
	
}

/*=========== for main menu and user menu ===========*/
td#mainmenu a {
	font-family: Tahoma;
	direction: rtl;
	text-align: right;
}

td#mainmenu a:hover {
	
}

td#mainmenu a.menuTop {
	
}

td#mainmenu a.menuMain {
	
}

td#mainmenu a.menuSub {
	padding-right: 10px;
}

td#usermenu a {
	font-family: Tahoma;
	direction: rtl;
	text-align: right;
}

td#usermenu a:hover {
	
}

td#usermenu a.menuTop {
	
}

td#usermenu a.highlight {
	
}

.headerlogo {
	direction: rtl;
}

/*================== for block ======================*/
.blockTitle {
	direction: rtl;
	font-family: Tahoma;
}

.blockContent {
	font-family: Tahoma;
	direction: rtl;
}

.footerbar {
	text-align: center;
}

form {
	font-family: Tahoma;
}

tr.even td {
	font-family: Tahoma;
	direction: rtl;
	text-align: right;
}

tr.odd td {
	font-family: Tahoma;
	direction: rtl;
	text-align: right;
}

th {
	direction: rtl;
	text-align: right;
}

div#content {
	direction: rtl;
	text-align: right;
}

div#forum_header {
	direction: rtl;
	text-align: right;
}

p.desc {
	direction: rtl;
	text-align: right;
}

tr.head td {
	direction: rtl;
	text-align: right;
}

td.sideboxcontent {
	direction: rtl;
}

td#content {
	direction: rtl;
	text-align: right;
	font-family: Tahoma;
}

div#xo-logger-output {
	direction: ltr;
	text-align: left;
}

div#xo-logger-tabs {
	direction: ltr;
	text-align: left;
}

#xo-canvas-content ul {
	text-align: right !important;
}