/* Add Persian Language by Persain Xoops Project www.irxoops.org  */
body{
     font-family: Tahoma !important;
}
table , table td , table tr , ul , li , div.content{
     direction: rtl;
     text-align: right;
}
input , textarea , input.formTextBox , select{
	font: 11px tahoma !important;
}
#overview {
    direction: ltr; 
    text-align: left;
}