/* $Id$ */
table.toptable,table.maintable,table.footertable,.itemTitle a,.itemPoster,.foot,th a:link,th a:active,th a:visited,.headerlogo,td.sideboxcontent
	{
	direction: rtl !important;
}

.sCommentThread,.sCommentRank {
	text-align: right !important;
}

table,.formButton,.comUserName,th,div#content,div#forum_header,p.desc,tr.head td
	{
	direction: rtl !important;
	text-align: right !important;
}

div#xo-logger-output,div#xo-logger-tabs {
	direction: ltr !important;
	text-align: left !important;
}

body td,p,div,a:link,a:active,a:visited,a:hover,h1,h2,h4,.item,.itemHead,th,.comTitle,.comUserStat,.blockTitle,.blockContent
	{
	direction: rtl !important;
}

input,select,textarea,.itemTitle,.itemStats,.outer,.head,.even,.odd,div.confirmMsg,div.xoopsQuote,td#mainmenu a,td#usermenu a,tr.even td,tr.odd td,td#content
	{
	direction: rtl !important;
	text-align: right !important;
}

.itemBody,.itemText,.comText {
	direction: rtl !important;
	text-align: Justify !important;
}

/* =================== for Titles =================== */
ul {
	padding-left: 0 !important;
	padding-right: 10px !important;
	text-align: right !important;
	direction: rtl !important;
	margin-left: 0 !important;
	margin-right: 10px !important;
}

ol {
	padding-left: 0 !important;
	padding-right: 10px !important;
	margin-left: 0 !important;
	margin-right: 10px !important;
}

ul ul {
	margin-left: 0 !important;
	margin-right: 10px !important;
}

ol ol {
	margin-left: 0 !important;
	margin-right: 12px !important;
}

li {
	padding-left: 0 !important;
	padding-right: 3px !important;
	margin-left: 0 !important;
	margin-right: 4px !important;
}

/* ========== styles used in the  article  of contents (exemple : news) ============*/
.itemPostDate,.itemInfo,.itemFoot {
	direction: rtl !important;
	text-align: left !important;
}

/* ===== core messages ===== */
div.xoopsCode {
	direction: ltr !important;
}

/*=========== for main menu and user menu ===========*/
td#mainmenu a.menuSub {
	padding-right: 10px !important;
}

/*================== for block ======================*/
.footerbar {
	text-align: center !important;
}

#xo-canvas-content ul {
	text-align: right !important;
}

/*================== for image manager ======================*/
#imageform,#imageform td {
	direction: rtl !important;
	text-align: right !important;
}
