<div class="smallworldadmin_tab_container">
	<div id="smallworldadmin_tab1" class="smallworldadmin_tab_content">
		<fieldset>
			<legend class="smallworldadmin_legend"><{$lang_moduleinfo}></legend> 
			<p class="smallworldadmin"><{$lang_installversion}> : <{$installversion}></p>
			<p class="smallworldadmin"><{$lang_installdate}> : <{$installdate}></p>
		</fieldset>
		<fieldset>
			<legend class="smallworldadmin_legend"><{$lang_installversion_status}></legend> 		
			<p class="smallworldadmin"><{$installversion_status}></p>
		</fieldset>
	</div>
	<span style="margin: 27%; height: 50px; position: relative;"><{$smarty.const._AM_SMALLWORLD_SP}></span>
</div>
<!-- end smallworld Admin -->