<div class="smallworldadmin_tab_container">
	<div class="smallworldadmin_tab_content">
		<fieldset>
			<legend class="smallworldadmin_legend"><{$lang_hlp_about}></legend> 
			<p class="smallworldadmin"><{$lang_hlp_preface}></p>
		</fieldset>
		
		<fieldset>
			<legend class="smallworldadmin_legend"><{$lang_hlp_requirements_t}></legend> 
			<p class="smallworldadmin"><{$lang_hlp_requirements}></p>
		</fieldset>
		<fieldset>
			<legend class="smallworldadmin_legend"><{$lang_hlp_recommended_t}></legend> 
			<p class="smallworldadmin"><{$lang_hlp_recommended}></p>
		</fieldset>
		<fieldset>
			<legend class="smallworldadmin_legend"><{$lang_hlp_installation_t}></legend> 
			<p class="smallworldadmin"><{$lang_hlp_firsttime}></p>
			<h2><{$lang_hlp_hostedplatform_t}></h2>
			<p class="smallworldadmin"><{$lang_hlp_hostedplatform}></p>
			<h2><{$lang_hlp_upgrading_t}></h2>
			<p class="smallworldadmin"><{$lang_hlp_upgrading}></p>
		</fieldset>
		<fieldset>
			<legend class="smallworldadmin_legend"><{$lang_hlp_faq_t}></legend> 
			<h2><{$lang_hlp_commen1_t}></h2>
			<p class="smallworldadmin"><{$lang_hlp_commen1}></p>
		</fieldset>
		<fieldset>
			<legend class="smallworldadmin_legend"><{$lang_hlp_contacts_t}></legend> 
			<p class="smallworldadmin"><{$lang_hlp_otherhelp}></p>
		</fieldset>
	</div>

	<span style="margin: 27%; height: 50px; position: relative;"><{$smarty.const._AM_SMALLWORLD_SP}></span>
</div>