/* $Id: fa.css 3478 2009-08-21 07:32:55Z voltan1 $ */
body {
	font-family: Tahoma !important;
}

table,table td,table tr,ul,li,div.content,div#containBodyCP {
	direction: rtl !important;
	text-align: right !important;
}

input,textarea,input.formTextBox,select {
	font: 11px tahoma !important;
}

div.confirmMsg {
	text-align: center !important;
}

/*================================================================*/
div#navbarCP {
	font: 11px Tahoma !important;
	direction: rtl !important;
	text-align: right !important;
}

div#navbarCP ul li {
	float: right !important;
	margin-right: 3px !important;
}

div#navOptionsCP a {
	float: left !important;
	margin-left: 2px !important;
}

div.cpicon a,div.cpicon a:hover,div.cpiconmodules a,div.cpiconmodules a:hover
	{
	direction: rtl !important;
	text-align: center !important;
	float: right !important;
}

div.confirmMsg {
	direction: rtl !important;
}

div#navOptionsCP .modname {
	float: right !important;
}

div#navbarCP ul.menu li {
	float: right !important;
}

div#navbarCP ul.menu ul ul {
	right: 148px !important;
}

div#navbarCP ul.menu ul {
	background: none !important;
}

#choosestyle a {
	float: left !important;
}

div#logoHead td.other {
	float: left !important;
}

#main_logo {
	float: right !important;
}
#xo-logger-output td, #xo-logger-output th, #xo-logger-tabs {direction: ltr; text-align: left;}
